:root {
  --primaryColor: #23272F;
  --secondaryColor: #22B0DD;
  --textColor: #c8c8c8;
  --white: #ffffff; 
}

.landingPage-div{
    width: 100%;
    height: 60vh; 
    text-align: center; 
    padding-top: 20vh;
    color: var(--white);
  }

  .landingPage-div h1{
    padding: 0% 10%;
    font-size: 4.5rem;
    line-height: 10vh;
  }
  .landingPage-div h1 span{
    color: var(--secondaryColor);
  }
  .landingPage-div p{
    font-size: 1.5rem;
    padding: 0% 25%;
    margin-top: 3vh;
    color: var(--white);
  }
  .landingPage-div button{
    padding: 1.5rem 2rem;
    border-radius: 3rem;
    background-color: var(--secondaryColor);
    border: none;
    color: var(--white);
    font-size: 1rem;
    margin: 1rem;
    margin-top: 10vh;
    font-weight: bold;
  }
  .landingPage-div>:nth-child(4){
    background-color: var(--white);
    color: var(--primaryColor);
  } 

  @media screen and (max-width: 600px) {
    .landingPage-div{
      padding-top: 7vh;
    }
    .landingPage-div button{
      padding: 1rem ;
      margin: 2rem 0.5rem 0.5rem 0.5rem;
    }
    .landingPage-div h1{
      font-size: 2.5rem;
      padding: 0% 2%;
      line-height: 7vh;
    }
    .landingPage-div p{
      line-height: 33px;
      padding: 0% 15%;
      margin-top: 5vh ;
    }
  } 