@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
  .page-container{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    overflow: hidden;
    justify-content: center;
    padding: 2rem;
    width: 100%;
  }

  .selectCourse-container {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    width: 20vw;
    border: 1px solid white; 
    border-radius: 8px; 
    margin: 15px; 
    background-color: rgba(255, 255, 255, 0.1); 
    padding: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transition: transform 0.2s; 
    height: 60vh;
    border: 3px solid #659AD2;
    border-radius: 20px;
    color: #659AD2;
    justify-content: space-between;
    align-items: center;
  }

  .selectCourse-container h1{
    font-size: 2rem;
    color: #c8c8c8;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }
  .selectCourse-container p{
    font-size: 1.5rem;
    color: #c8c8c8;
    font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  }
  .selectCourse-container img{
    width: 20vh;
    height: 20vh;
  }
  .selectCourse-container button{
    padding: 10px 20px;
    background-color: transparent;
    color: #c8c8c8;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    border: 3px solid #659AD2;
    border-radius: 5em;
    margin-top: 20px;
    transition: 0.2s;
  }

  .selectCourse-container:hover button{
    padding: 10px 20px;
    background-color: transparent;
    color: #659AD2;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    border: 3px solid #659AD2;
    border-radius: 5em;
    margin-top: 20px;
    transition: 0.2s;
    width: 50%;
  }

  .selectCourse-container:hover{
    width: 30vw;
    transition: 1s;
    margin: 15px; 
    color: #659AD2;
    justify-content: space-between;
    align-items: center;

  }

  .selectCourse-container:hover h1{
    font-size: 2.5rem;
  }
  @media screen and (max-width: 600px) {
    .page-container{
        flex-direction: column;
        justify-content: center;
        margin-top: 25vh;
    }
    .selectCourse-container{
        width: 80vw;
    }
    .selectCourse-container:hover{
       width: 80vw;
    } 
  } 