.selectCourse-container{
    display: flex;
    justify-content: center;
    gap: 4rem;
    background-color: #282a35;
    padding: 2rem;
    color: #e7e9eb;  
    background: url('/bg.webp')  
   
}
.selectCourse-container .right-div{
    background-color: #2f323e5c;
    padding: 1rem 10rem;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.selectCourse-container .right-div img{
    border-left: 2px solid hsl(215.62deg 94.81% 54.71%);
    height: 40vh;
}
.selectCourse-container .right-div button{
    padding: 1rem 2rem;
    border-radius: 3rem;
    border: none;
    outline: none;
    color: white;
    background-color: hsl(215.62deg 94.81% 54.71%);
    font-size: 1rem;
    margin: 1rem 1rem;
    font-weight: bold;
}
.selectCourse-container .left-div{   
    padding: 0rem 5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 10vh;
}
.selectCourse-container .left-div h1{
    font-size: 3rem;
    color: white;
}
.selectCourse-container .left-div button{
    padding: 1rem 2rem;
    border-radius: 3rem;
    border: none;
    outline: none;
    color: white;
    background-color: hsl(215.62deg 94.81% 54.71%);
    font-size: 1rem;
    margin: 1rem 1rem;
    font-weight: bold;
}

@media screen and (max-width: 600px) {
    .selectCourse-container{
        flex-direction: column;
        gap: 0rem;
    }
    .selectCourse-container .right-div{
        padding: 0px;
    }
    .selectCourse-container .right-div button{
        margin: 0rem;
    }
   
  } 

