.selectCourse-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    padding: 5rem;
    color: #e7e9eb;  
   
}
.selectCourse-container .right-div{
    padding: 1rem 10rem;
    display: flex;
    flex-direction: column;
    border-radius: 0rem 5rem;
    border: 2px solid  #c8c8c8;
    box-shadow: 10px 8px 0px rgb(191 219 254);
}


.selectCourse-container .right-div button{
    padding: 1rem 2rem;
    border-radius: 3rem;
    border: none;
    outline: none;
    color: white;
    background-color: hsl(215.62deg 94.81% 54.71%);
    font-size: 1rem;
    margin: 1rem 1rem;
    font-weight: bold;
    cursor: pointer;
    
}

.selectCourse-container .left-div{   
    padding: 0rem 5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 10vh;
    border-radius: 3rem;
    border: 2px solid  #c8c8c8;
    box-shadow: 10px 8px 0px rgb(191 219 254);
}
.selectCourse-container .left-div h1{
    font-size: 3rem;
}
.selectCourse-container .left-div button{
    padding: 1rem 2rem;
    border-radius: 3rem;
    border: none;
    outline: none;
    color: white;
    background-color: hsl(215.62deg 94.81% 54.71%);
    font-size: 1rem;
    margin: 1rem 1rem;
    font-weight: bold;   
}
.selectCourse-container .left-div button:hover{
    background-color: hsl(216, 57%, 40%); 
}


@media screen and (max-width: 600px) {
    .selectCourse-container{
        flex-direction: column;
        gap: 0rem;
    }
    .selectCourse-container .right-div{
        padding: 0px;
    }
    .selectCourse-container .right-div button{
        margin: 0rem;
    }
   
  }

