@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
  --primaryColor: #232323e3;
  --secondaryColor: #22B0DD;
  --textColor: #c8c8c8;
  --white: #ffffff; 
}



header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primaryColor); 
  color: var(--white);
  width: 100%;
  height: 10vh;
  top: 2vh;
  padding: 0rem 1rem;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  border-bottom: 1px solid var(--textColor);
}


.header-logo{
  height: 3.5rem;
  width: 3.5rem;
  margin-left: 25px;
  
}

  header ul{
    display: flex;
    list-style-type: none;
    gap: 30px;
    font-size: 1.2rem;
    height: 100%;
  }
  .right-div {
    display: flex;
    align-items: center;
    gap: 20px;
  }
   header .right-div>:nth-child(2){
    border-radius: 3rem;
    background-color: var(--secondaryColor);
    color: var(--white);
  }  
  header .right-div button{
    padding: 0.7rem 2rem;
    border-radius: 3rem;
    border: none;
    outline: none;
    color: var(--white);
    background-color: var(--secondaryColor);
    font-size: 1rem;  
    font-weight: bold;
  }
  header .right-div input{
    width: 17vw;
    height: 6vh;
    border-radius: 5rem;  
    position: relative;
    border: 2px solid hsl(0, 0%, 23%);   
    outline: none;
    padding-left: 3%;
    font-weight: bold;
    background-color: var(--primaryColor);
    color: var(--white);
  }
  .search-container {
    position: relative;
    display: flex;
    align-items: center;
  }
  .search-icon {
    position: absolute;
    right: 8px;
    top: 10px;
    padding: 0.3rem;
    border-radius: 5rem;
   background-color: hsl(0, 0%, 23%);
  } 
  
  .nav-links-li{
    width: 100%;
    color: antiquewhite;
    height: 100%;
  }
  .nav-links-li:hover{
    cursor: pointer;
    transform: scale(1.3);
    color: antiquewhite;
    height: 100%;
    
  }
 .search-results ul{
    display: flex;
    position: absolute;
    top: 10vh;
    right: 20vw;
    width: 40vw;
    background-color: white;
    color: black;
    flex-direction: column;
    height: 70vh;
  } 
  .Header-search:hover{
    cursor: pointer;
  }  

  @media screen and (max-width: 600px) {
    
    header ul{
      display: none;
    }
    header .right-div button{
      padding: 0.5rem 1rem;
    }
    header .right-div input{
      width: 40vw;
      height: 5vh;
    }
  } 