*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.main-content{
  display: flex;
}

.sidebar{
  width: 50vw;
  height: 100vh;  
  padding: 10px 8px 10px 15px;
  background-color: #1b1b1b;
  color: #c8c8c8;
  overflow: scroll;
  transition: transform 0.3s ease-in-out; 
  border-right: 1px solid #c8c8c8;
  
}

.sidebar::-webkit-scrollbar {
  display: none;
}
.sidebar ul li{
  margin-bottom: 1.3rem;
  list-style-type: none;
}
.sidebar ul li:hover{
  border-bottom: 1px solid #22B0DD;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  color:  #22B0DD;
}
.side-head{
  display: flex;
  justify-content: space-between;
  margin-bottom: 3vh;
  border-bottom: 1px solid #c8c8c8;
  padding: 3px 0px 5px 0px;
 
}
.side-head h2{
  color:  #22B0DD;
}
.side-head button{
  padding: 0rem 0.2rem;
  font-size: 30px;
  font-weight: bold;
  border: none;
  outline: none;
  background-color: #1b1b1b;
  color: #22B0DD;
  
}
.topic-detail {
  padding: 40px;
  background-color: #1b1b1b;
  color: #c8c8c8;
  min-height: 90vh;
}
.topic-detail h2{
  margin-bottom: 5vh;
  font-weight: bold;
  color:  #22B0DD;
}
.topic-detail p{
  line-height: 30px;
}
.search-container input{
    padding: 5px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
    outline: none;
    background-color: #1b1b1b;
    border: 1px solid #c8c8c8;  
    color: #c8c8c8; 
}
.hamburger-icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .hamburger-icon {
    display: block;
    font-size: 25px;
    cursor: pointer;
    padding: 0rem 0.3rem;
    color: #22B0DD;
    background-color: var(--primaryColor);
    position: absolute;
    border: none;
    outline: none;
    top: 28px;
    left: 5px;
    
  }
  
  .sidebar {
    position: absolute;
    transition: transform 0.3s ease;
  }
  
  .sidebar.closed {
    transform: translateX(-100%);
  }
  
  .sidebar.open {
    transform: translateX(0);
  }
 
} 


.sidebar-hidden{
  display: none;
}