*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.main-content{
  display: flex;  
  margin-top: 7vh;
}
.sidebar{
  width: 50vw;
  height: 100vh;  
  padding: 10px 8px 10px 15px;
  background-color: #1b1b1b;
  color: #c8c8c8;
  overflow: scroll;
  transition: transform 0.3s ease-in-out; 
  border-right: 1px solid #c8c8c8;
}
::-webkit-scrollbar {
  display: none;
}
.sidebar ul li{
  margin-bottom: 1.3rem;
  list-style-type: none;
}
.sidebar ul li:hover{
  border-bottom: 1px solid #22B0DD;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  color:  #22B0DD;
}
.side-head{
  display: flex;
  justify-content: space-between;
  margin-bottom: 3vh;
  border-bottom: 1px solid #c8c8c8;
  padding: 3px 0px 8px 0px;
}
.side-head h2{
  color:  #22B0DD;
}
.side-head button{
  padding: 0rem 0.2rem;
  font-size: large;
  font-weight: bold;
  background-color: #1b1b1b;
  color: #c8c8c8;
  
}
.topic-detail {
  padding: 40px;
  background-color: #1b1b1b;
  color: #c8c8c8;
}
.topic-detail h2{
  margin-bottom: 5vh;
  font-weight: bold;
  color:  #22B0DD;
}
.topic-detail p{
  line-height: 30px;
}
